@charset "utf-8";

/* Variables
--------------------------------------------------------------------------------------------------------*/

// Android one S2 → 398px
// iPhone5C → 338px

pc-width = 1200px
sp-width = 767px
spm-width = 397px

theme-color = #3fb5bd // #48A9A6
theme-color-dark = #32827f
theme-color-second = #555B6E
theme-color-accent = #EF6461
theme-color-btn = #555B6E
theme-color-back = #f9f9f9


media(bpName)
    for name in bpName
        if name == 'spm'
            @media only screen and (max-width: spm-width)
                {block}
        if name == 'sp'
            @media only screen and (max-width: sp-width)
                {block}
        if name == 'tabsp'
            @media only screen and (max-width: pc-width - 1px)
                {block}
        if name == 'tab'
            @media only screen and (min-width: sp-width + 1px) and (max-width: pc-width - 1px)
                {block}
        if name == 'pc'
            @media only screen and (min-width: pc-width)
                {block}


body
    min-width: 300px
    background: theme-color-back
    font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;


::selection
    background: #b3d4fc
    color: #444


/* partial
--------------------------------------------------------------------------------------------------------*/

// ベース
@import '_partial/base/ress'
@import '_partial/base/agate'


//ヘッダー
@import '_partial/header'

// メイン
@import '_partial/container'
@import '_partial/breadcrumb'
@import '_partial/post-list'
@import '_partial/pager'

// 記事
@import '_partial/post'
@import '_partial/content'


// サイドバー
@import '_partial/aside'

//フッター
@import '_partial/footer'
