@charset "utf-8";
@import '_partial/base/*'
@import '_partial/variables'

/* base
--------------------------------------------------------------------------------------------------------*/

html
    scroll-behavior: smooth

body
    background #f8f8fa
    background var(--background-color)
    font-family sans-serif


::selection
    background #b3d4fc
    color #444


@keyframes spinner
    from
        transform rotate(0deg)
    to
        transform rotate(360deg)

.loading
    position relative

.loading::before
    --spinner-size: 36px
    content ""
    position absolute
    top calc(50% - 0.5*var(--spinner-size))
    left calc(50% - 0.5*var(--spinner-size))
    z-index 0
    width var(--spinner-size)
    height var(--spinner-size)
    border-radius 50%
    border 2px solid rgb(204,204,204)
    border-top-color rgb(51,51,51)
    animation spinner .5s cubic-bezier(.42, .61, .58, .41) infinite


.mailform input, .mailform textarea
  display: block;
  border: 1px solid #ddd;

.mailform textarea
  width: 100%;
  height: 10em;

.mailform button
  background: var(--theme-color);
  color: #fff !important;
  padding: 6px 48px;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 #48a9a6;


/* partial
--------------------------------------------------------------------------------------------------------*/

@import '_partial/component/highlight/atom-one-dark.css'
@import '_partial/layout/*'
