<ul class="aside-list">
  <% for (var i in theme.link.list){ %>
  <li class="aside-list-item">
      <a class="aside-list-link" href="<%- theme.link.list[i] %>">
        <%= i %>
      </a>
  </li>
  <% } %>
</ul>
