.header
    background url(/img/header.webp), var(--theme-color)
    background-size cover


    &__link
        display block
        padding 6em 0
        color #fff
        text-align center


    &__logo // h1のデフォルトfont-sizeを上書きするため
        font-size var(--size-l4)
        font-weight 600


    &__desc
        font-size var(--size-s3)
