.post-tag
    display flex
    margin -.5em 0 0 -.5em
    flex-wrap wrap

    &__item
        display block
        margin .5em 0 0 .5em

    &__link
        display block
        padding .25em .5em
        font-size var(--size-s2)
        color var(--text-sub-color)
        border 1px solid var(--border-dark-color)
        border-radius .25em

        &::before
            content "#"