<footer class="footer">
    <div class="footer__inner">
        <ul class="footer-menu">
            <li class="footer-menu__item">
                <a class="footer-menu__item-link" href="/about/">About</a>
            </li>
            <li class="footer-menu__item">
                <a class="footer-menu__item-link" href="/contact/">Contact</a>
            </li>
            <li class="footer-menu__item">
                <a class="footer-menu__item-link" href="/privacy/">Privacy Policy</a>
            </li>
        </ul>
        <div class="footer__copyright">
            ©pixelog 2020
        </div>
    </div>
</footer>
<script><% if(is_category() || is_post()) { %>document.querySelector('.category-list [href="' + encodeURI(document.querySelector('.breadcrumbs__item:nth-last-of-type(' + <% if(page.current === 1){ %>1<% }else{ %>2<% } %> +') a').getAttribute('href')) + '"]').setAttribute('class', 'category-list-link current');<% } %>console.log('総記事数:' + <%= site.posts.length %>)</script>
