<footer class="footer">
    <ul class="footer-menu">
        <li class="footer-menu__item">
            <a class="footer-menu__link" href="/about/">About</a>
        </li>
        <li class="footer-menu__item">
            <a class="footer-menu__link" href="/contact/">Contact</a>
        </li>
        <li class="footer-menu__item">
            <a class="footer-menu__link" href="/privacy/">Privacy Policy</a>
        </li>
    </ul>
    <div class="footer__copyright">
        Powered by Hexo. Theme designed by pixelog.<br>
        ©pixelog 2020
    </div>
</footer>
<script type="application/ld+json"><%- partial('ld+json') %></script>
<script>(adsbygoogle = window.adsbygoogle || []).push({});<% if(is_post()){%>(adsbygoogle = window.adsbygoogle || []).push({});<%}%></script>
