<footer class="footer">
    <ul class="footer-menu">
        <% for (var i in theme.menu){ %>
            <li class="footer-menu__item">
                <a class="footer-menu__link" href="<%- theme.menu[i] %>"><%= i %></a>
            </li>
        <% } %>
    </ul>
    <div class="footer__copyright">
        Powered by Hexo, Theme Aoba designed by pixelog<br>
        ©pixelog 2020
    </div>
</footer>
<script type="application/ld+json"><%- partial('ld+json') %></script>
<script>function lazyLoad(n,a){let e=1;window.addEventListener("scroll",function t(){if(1===e){e=0;const o=document.createElement("script");"src"===a?o.src=n:"inline"===a&&(o.innerHTML=n),document.body.appendChild(o),window.removeEventListener("scroll",t,!1)}},!1)}lazyLoad("https://www.googletagmanager.com/gtag/js?id=UA-68420269-3","src"),lazyLoad("window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-68420269-3');","inline");<% if(is_post()){%>(adsbygoogle = window.adsbygoogle || []).push({});<%}%></script>
