<header class="header">
    <div class="header__inner">
        <% if(is_post() || is_page()){ %><div class="header__logo"><% }else{ %><h1 class="header__logo"><% } %>
            <a class="header__logo-link" href="/">pixelog</a>
        <% if(is_post() || is_page()){ %></div><% }else{ %></h1><% } %>
        <div class="switch">
            <div class="switch__name">ダークモード</div>
            <input class="switch__input" id="toggle-dark" type="checkbox" >
            <label class="switch__label" for="toggle-dark" ></label>
        </div>
    </div>
</header>
