<!DOCTYPE html>
<html>
<head>
  <%- partial('_partial/head') %>
</head>
<body>
<% if (!page.static || page.static === undefined) { %>
  <%- partial('_partial/header') %>
  <div id="barba-wrapper">
  <div class="container barba-container">
<% } %>

    <%- body %>

<% if (!page.static || page.static === undefined) { %>
  </div>
  </div>
  <%- partial('_partial/footer') %>
<% } %>
</body>
</html>
