.archive
    margin 4em 0 0 0

    &__year
        margin 0 0 1em 0
        font-size font-size-l2

    &__item
        display flex
        margin .5em 0
        alin-items center

    &__date
        margin 0 1em 0 0
        font-size font-size-s1
        color var(--text-sub-color)
        flex-shrink 0

    &__link
        color var(--text-link-color)

        &:hover
            text-decoration underline
