$aside-list
    list-style none

    &-link
        display block
        padding .6em 4px
        word-break break-all
        border-bottom 1px solid var(--border-color)

        &:hover
            color var(--text-hover-color)


.category-list
    @extend $aside-list

    &-child
        list-style none

        & .category-list-link
            padding-left 2.5em

        & .category-list-child  .category-list-link
            padding-left 5em


    &-count
        color var(--text-sub-color)
        font-weight normal
        float right


/*
.recent-posts-list
    @extend $aside-list
*/
