.footer
    background var(--bg-color)

    &__inner
        max-width var(--width)
        margin auto
        padding 2em var(--outer)
        box-sizing content-box
        text-align center

    &__copyright
        font-size var(--size-s3)
        color var(--text-sub-color)
