.header
    padding 0 2em
    line-height 64px
    background var(--bg-sub-color)
    box-shadow var(--container-shadow)

    &__logo // h1のデフォルトfont-sizeを上書きするため
        font-size 20px
        font-weight bold
