.menu
    display flex
    width 100%
    margin 0 0 1.2em 0
    font-size font-size-s1
    line-height 1
    list-style none
    justify-content center

    &__item
        padding 0 1em

        & + .menu__item
            border-left 1px solid var(--text-light-sub-color)

    &__link
        color var(--text-light-color)

        &:hover
            color var(--text-light-sub-color)
