.post-list
    &__item
        display block
        padding 2.5em .25em
        border-bottom 1px solid var(--border-color)
        &:first-child
            padding-top 0


    &__link
        display block

        &:hover
            .post-list__title
                text-decoration underline
                color var(--text-hover-color)


    &__date
        display block
        margin 1em 0 0 0
        color var(--text-sub-color)
        font-size var(--size-s1)


    &__title
        font-size var(--size-l1)
        word-break break-all
        transition .15s ease color

    &__content
        margin 1.5em 0 0 0
        color var(--text-sub-color)
        font-size var(--size-s1)
