.post-list
    display grid
    gap 1.5em

    &__item
        display block
        padding 1.5em
        background var(--bg-sub-color)
        box-shadow var(--container-shadow)
        border-radius 4px


    &__link
        display block


    &__date
        display block
        margin 1em 0 0 0
        color var(--text-sub-color)
        font-size font-size-s1


    &__title
        font-size font-size-l2
        word-break break-all

    &__content
        margin 1.5em 0 0 0
        color var(--text-sub-color)
        font-size font-size-s1
