.post-category
    display flex
    margin-top 3.5em
    color var(--text-sub-color)
    font-size var(--size-s1)

    &__label
      margin 0 .5em 0 0

    &__list
        display flex
        list-style none

    &__item
        &:not(:last-child)::after
            content ">"
            margin 0 .5em
            font-family Consolas,monospace

    &__link
        color var(--text-link-color)
        &:hover
            text-decoration underline
