.sitemap
    display flex
    line-height 2.5
    font-size font-size-s2

    &__list
        flex 1
        list-style none

    &__link
        display block
        color var(--text-color)
        transition .15s ease
        transition-property background,color

        &:hover
            color var(--theme-color)
            background var(--bg-hover-color)
