<footer class="footer">
    <div class="footer__inner">
        <a class="about" href="/about/">このサイトについて</a>
        <div class="copyright">©pixelog 2019 - 2020</div>
    </div>
</footer>
<script src="/js/particles.min.js"></script>
<script src="/js/script.js"></script>
