<footer class="footer">
    <div class="footer__inner">
        <div class="copyright">
            ©pixelog 2020
        </div>
        <ul class="footer-menu">
            <li class="footer-menu__item">
                <a class="footer-menu__item-link" href="/about/">About</a>
            </li>
            <li class="footer-menu__item">
                <a class="footer-menu__item-link" href="/contact/">Contact</a>
            </li>
            <li class="footer-menu__item">
                <a class="footer-menu__item-link" href="/privacy/">Privacy Policy</a>
            </li>
        </ul>
    </div>
</footer>
<script src="/js/particles.min.js"></script>
<script src="/js/script.js"></script>
