<%
var tagName;
if(is_home()){
  tagName = 'h1';
}else{
  tagName = 'div';
}
%>

<header class="header" id="header">
  <button id="js-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <line x1="3" y1="12" x2="21" y2="12"></line>
      <line x1="3" y1="6" x2="21" y2="6"></line>
      <line x1="3" y1="18" x2="21" y2="18"></line>
    </svg> 
  </button>
  <a class="header__link" href="<%= url_for('/') %>">
    <<%= tagName %> class="header__logo">
      <%= config.title %>
    </<%= tagName %>>
  </a>
  <a href="https://duckduckgo.com/?q=site%3Apixelog.net">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
  </a>
</header>
