<div class="nav" id="js-nav" tabindex="0">
    <ul class="nav__list">
    <% for (var i in theme.nav){ %>
    <li class="nav__item">
        <a class="nav__link" href="<%- theme.nav[i] %>">
            <%= i %>
        </a>
    </li>
    <% } %>
    </ul>
</div>


<div id="js-overlay"></div>
