.aside-list
    padding-left 1.25em
    line-height 2

    &-link
        word-break break-all
        &:hover
            color var(--text-hover-color)

    &-child
        padding-left 2.5em

    &-count
        margin-left .5em
        font-size var(--size-s2)
        color var(--text-sub-color)

        &::before
            content "["
        &::after
            content: "]"
