.header
    padding 5em 0
    background linear-gradient(230deg,#bb37b3,#378abb,#37bb4d)
    background-size 300% 300%
    animation 30s sky ease infinite

    &__logo // h1のデフォルトfont-sizeを上書きするため
        margin auto
        font-size var(--size-l3)
        font-weight bold
        text-align center

    &__link
        color #fff



@keyframes sky
  0%
    background-position 0% 84%

  50%
    background-position 100% 16%

  100%
    background-position: 0% 84%
