body
    color var(--text-color)
    background var(--bg-sub-color)
    font-size clamp(16px, calc((100vw - var(--width)) * .01 + 100%), 18px)
    font-family sans-serif

a
    color var(--text-color)
    text-decoration none

p
    margin var(--space)

img
    max-width 100%
    vertical-align middle

blockquote
    margin var(--space)
    padding 0 1.272em
    color var(--text-sub-color)
    font-size var(--size-s1)
    border-left .25em solid var(--border-color)

li>ul
    margin 0!important

code
pre
    font-family consolas, Menlo, monospace

code:not(.hljs)
    margin 0 .5em
    padding 3px 10px
    background var(--bg-color)
    font-size var(--size-s1)
    border-radius: 3px
