font-size-l3 = 1em * 8 / 5 // 1.6
font-size-l2 = 1em * 8 / 6 // 1.333
font-size-l1 = 1em * 8 / 7 // 1.142
font-size-m =  1em * 8 / 8
font-size-s1 = 1em * 8 / 9 // .8888
font-size-s2 = 1em * 8 / 10 // .8
font-size-s3 = 1em * 8 / 11 // .72

:root
  --width 700px
  --theme-color #5aa096

  --bg-color #fafafa
  --bg-sub-color #fff
  --bg-hover-color #f1f1f1

  --text-color #444
  --text-link-color #3884FF
  --text-hover-color var(--theme-color)
  --text-sub-color #767676
  --text-disabled-color #eee

  --border-color #e3e3e3
  --border-dark-color #bbb

  --space-small .75em 0
  --space-default 2em 0
  --space-large 3em 0 1em 0


@media (prefers-color-scheme: dark)
  :root
    --theme-color #5aa096

    --bg-color #171717
    --bg-sub-color #1c1c1c
    --bg-hover-color #222

    --text-color #dedede
    --text-link-color #8ab4f8
    --text-hover-color #5aa096
    --text-sub-color #a8a8a8
    --text-disabled-color #444

    --border-color #4a4a4a
    --border-dark-color #777
