.alert
    --b1 #cce5ff
    --b2 #b8daff
    --b3 #004085
    --y1 #fff3cd
    --y2 #ffeeba
    --y3 #856404
    --r1 #f8d7da
    --r2 #f5c6cb
    --r3 #721c24
    margin 2em 0
    padding .75em 1.25em
    font-size .9em
    border 1px solid
    border-radius 4px

    &.notice
        background var(--b1)
        border-color var(--b2)
        color var(--b3)

    &.caution
        background var(--y1)
        border-color var(--y2)
        color var(--y3)

    &.warning
        background var(--r1)
        border-color var(--r2)
        color var(--r3)


@media (prefers-color-scheme: dark)
  .alert
    --b1 #002333
    --b2 #004e66
    --b3 #9ed2ff
    --y1 #332b00
    --y2 #665500
    --y3 #ffdd9e
    --r1 #290000
    --r2 #5c0000
    --r3 #ff8080
