.btn
    display inline-block
    margin .5em 0
    padding 8px 2em
    background #007bff
    color #fff!important
    text-decoration none!important
    border-radius 4px
    transition .15s all ease-in-out

    &:hover
        background: #0069d9
    &:active
        background: #0062cc
    &:focus
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
