.card-link
    display block
    margin 1.5em 0
    padding 1em
    font-weight bold
    text-decoration none!important
    border 1px solid var(--border-color)
    border-radius 3px
    box-shadow: 0 1px 4px rgba(0,0,0,.05);

    &::after
        display block
        margin .7em 0 0 0
        content "pixelog.net" attr(href)
        font-size .75em
        color var(--text-sub-color)
        font-weight normal
