.footnotes
    margin-top 3em
    padding .1em .5em
    font-size .75em
    color var(--text-sub-color)
    background var(--bg-color)
    border-radius 4px

    p
        margin 0

    &-sep
        display none
