.btn
    display inline-block
    margin .5em 0
    padding 8px 2em
    background #007bff
    color #fff!important
    text-decoration none!important
    border-radius 4px
    transition .15s all ease-in-out

    &:hover
        background: #0069d9
    &:active
        background: #0062cc
    &:focus
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);


$margin
    margin 2em 0
    padding .75em 1.25em
    font-size .9em
    border 1px solid
    border-radius 4px

.notice
    @extend $margin
    color #004085
    background #cce5ff
    border-color #b8daff

.caution
    @extend $margin
    color #856404
    background #fff3cd
    border-color #ffeeba


.warning
    @extend $margin
    color #721c24
    background #f8d7da
    border-color #f5c6cb

/*
[data-mode='dark']
    .notice
    .caution
    .warning
        background var(--bg-color)
*/

.card-link
    display block
    margin 1.5em 0
    padding 1em
    font-weight bold
    text-decoration none!important
    border 1px solid var(--border-color)
    border-radius 3px
    box-shadow: 0 1px 4px rgba(0,0,0,.05);

    &::after
        display block
        margin .7em 0 0 0
        content "pixelog.net" attr(href)
        font-size .75em
        color var(--text-sub-color)
        font-weight normal


.shake
    display inline-block
    animation shake .2s infinite
@keyframes shake
    0%
        transform translate(0px, 0px) rotateZ(0deg)
    25%
        transform translate(2px, 2px) rotateZ(1deg)
    50%
        transform translate(0px, 2px) rotateZ(0deg)
    75%
        transform translate(2px, 0px) rotateZ(-1deg)
    100%
        transform translate(0px, 0px) rotateZ(0deg)


.vertical-img
    max-width 400px
