.btn
    display inline-block
    line-height 50px
    margin .5em 0
    padding 0 20px
    background var(--theme-color)
    color #fff !important
    text-decoration none!important
    border-radius 4px
    box-shadow 2px 0 4px rgba(0, 0, 0, .1)

    &:hover
        opacity 1


$margin
    margin 2em 0
    padding 1em 1.2em 1em 72px
    border-radius 3px
    position relative
    &::before
        display block
        width 32px
        height 32px
        line-height 32px
        margin 0 1em 0 0
        text-align center
        font-size 22px
        color #fff
        font-weight bold
        font-family "Consolas", monospace
        border-radius 50%
        position absolute
        top calc(50% - 16px)
        left 20px

.notice
    @extend $margin
    background #deefff
    &::before
        content: "i"
        background #4285f4

.caution
    @extend $margin
    background #fff7d8
    &::before
        content: "!"
        background #fbbc03


.warning
    @extend $margin
    background #fde4e2
    &::before
        content "!"
        background #ea4335


[data-mode='dark']
    .notice
        background #004a90

    .caution
        background #8c7000

    .warning
        background #820a00


.card-link
    display block
    margin 24px 0
    padding 16px
    font-weight bold
    text-decoration none!important
    border 1px solid var(--border-color)
    border-radius 4px
    transition .2s border ease

    &:hover
        border-color var(--border-dotted-color)

    &::after
        display block
        margin 10px 0 0 0
        content "pixelog.net" attr(href)
        font-size 12px
        color var(--text-sub-color)
        font-weight normal


.shake
    display inline-block
    animation shake .2s infinite
@keyframes shake
    0%
        transform translate(0px, 0px) rotateZ(0deg)
    25%
        transform translate(2px, 2px) rotateZ(1deg)
    50%
        transform translate(0px, 2px) rotateZ(0deg)
    75%
        transform translate(2px, 0px) rotateZ(-1deg)
    100%
        transform translate(0px, 0px) rotateZ(0deg)
