@keyframes spinner
    from
        transform rotate(0deg)
    to
        transform rotate(360deg)

.loading
    position relative

.loading::before
    --spinner-size: 36px
    content ""
    width var(--spinner-size)
    height var(--spinner-size)
    border 2px solid var(--border-color)
    border-top-color var(--text-accent-color)
    border-radius 50%
    animation spinner .4s linear infinite
    position absolute
    top calc(50% - 0.5*var(--spinner-size))
    left calc(50% - 0.5*var(--spinner-size))
    z-index 0
