<div class="<%= block %>__search">
    <h4 class="<%= block %>__title">Search</h4>
    <form class="search-form" id="search" action="https://google.com/cse">
          <input type="hidden" name="cx" value="013349118934630321476:1d17snoxhhc">
          <input type="hidden" name="ie" value="UTF-8">
          <input class="search-form__input" type="text" name="q">
          <button class="search-form__btn" type="submit" name="sa"></button>
    </form>
</div>
