.more1 {
  display: none;
}
.more1:target {
  display: block;
}


.more2{
  display: none;
}
.morefix2:target + .more2{
  display: block;
}
.morefix2{
    position: fixed;
    top: 0;
}


.more3{
    max-height: 0;
    transform: scaleY(0);
    transform-origin: center top;
    transition: .3s ease;
    transition-property: transform,max-height;
}
.morefix3:target +  .more3{
    max-height: 99999px;
    transform: scaleY(1);
}
.morefix3{
    position: fixed;
    top: 0;
}
