
#kaizuka_calc {
    margin: 60px 0 0 0;
}

.calc_input {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

input[name="input_yen"],
input[name="input_kaizuka"]  {
    width: 40%;
    border: 1px solid #ccc;
    font-size: 32px;
}

input[name="factor"] {
  background: #fff;
  border: 1px solid #ddd;
}

.yen,
.kaizuka {
    width: 48px;
    min-width: 48px;
    font-size: 16px;
    text-align: center;
}

#calc {
    display: block;
    width: 100%;
    padding: 12px 6px;
    background: var(--theme-color);
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 2px;
}


.option {
  margin: 20px 0;
  padding: 3px 20px;
  background: #f2f2f2;
}

.google-adsense {
  width: 840px;
  margin: auto;
}


@media screen and (max-width:550px) {
  .calc_input{
    flex-wrap: wrap;
  }
  input[name="input_yen"],
  input[name="input_kaizuka"]  {
      width: 80%;
      border: 1px solid #ccc;
      font-size: 32px;
  }

  .yen,
  .kaizuka {
      width: 10%;
      min-width: 48px;
      font-size: 16px;
  }
  input[name="input_yen"],
  .yen {
      margin: 0 0 20px 0;
  }
}
