<footer class="footer">
    <div class="footer__inner">
        <a class="footer__link" href="https://creativecommons.org/licenses/by-sa/4.0/deed.ja">CC BY-SA 4.0</a><br>
        Powered by Hexo, Theme designed by Pixelog
    </div>
</footer>
