:root
  --theme-color #84d1bd

  --bg-color #f8f8f8
  --bg-sub-color #fff
  --bg-current-color #f2f2f2

  --text-color #444
  --text-link-color #3884FF
  --text-hover-color var(--theme-color)
  --text-sub-color #767676
  --text-disabled-color #eee

  --border-color #e3e3e3
  --border-dark-color #ced4da

  --space-s .75em 0
  --space 1.75em 0
  --space-l 3em 0 0 0

  --num 8
  --size-l4 calc(var(--num) * 1em / (var(--num) - 4)) // 2
  --size-l3 calc(var(--num) * 1em / (var(--num) - 3)) // 1.6
  --size-l2 calc(var(--num) * 1em / (var(--num) - 2)) // 1.333
  --size-l1 calc(var(--num) * 1em / (var(--num) - 1)) // 1.142
  --size-n 1em
  --size-s1 calc(var(--num) * 1em / (var(--num) + 1)) // .888
  --size-s2 calc(var(--num) * 1em / (var(--num) + 2)) // .8
  --size-s3 calc(var(--num) * 1em / (var(--num) + 3)) // .727

  --container-shadow 0 2.8px 2.2px rgba(0, 0, 0, 0.003),0 6.7px 5.3px rgba(0, 0, 0, 0.004),0 12.5px 10px rgba(0, 0, 0, 0.005),0 22.3px 17.9px rgba(0, 0, 0, 0.006),0 41.8px 33.4px rgba(0, 0, 0, 0.007),0 100px 80px rgba(0, 0, 0, 0.01)
