.highlight
    overflow auto
    margin: var(--space)
    background var(--bg-color)
    font-size var(--size-s1)
    line-height 2


.gutter
    padding .5em 1em
    text-align right
    border-right 1px solid var(--border-color)
