.card-link
    display block
    margin var(--space-default)
    padding 1em
    font-weight bold
    border 1px solid var(--border-color)
    border-radius 4px

    &::after
        display block
        margin .7em 0 0 0
        content attr(href)
        font-size .75em
        color var(--text-sub-color)
        font-weight normal
