.highlight
    overflow auto
    margin: var(--space-default) 0
    background var(--bg-color)
    font-size .9em
    line-height 2


.gutter
    padding .5em 1em
    text-align right
    border-right 1px solid var(--border-color)
