.highlight
    overflow auto
    margin: var(--space-default) 0
    font-size .85em
    background #f7f7f7
    line-height 2


.gutter
    pre
        background #eff2f3
        color #869194
        font-family consolas, Menlo, monospace
        padding 12px 10px
        text-align right


.hljs
    background #f7f7f7
    padding 12px
    font-family consolas, Menlo, monospace
