.contact {
    margin: 48px 0 0 0;
}

.contact input,
.contact textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    outline: 0;
    border-radius: 4px;
    transition: .15s box-shadow ease-in-out;
}

.contact input:focus,
.contact textarea:focus,
.contact button:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    border-color: #80bdff;
}


.contact textarea {
    height: 10em;
}

.contact button {
    background: #007bff;
    color: #fff !important;
    padding: 6px 48px;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 #48a9a6;
    transition: .15s box-shadow ease-in-out;
}
