.alert
    padding 1em 1.25em
    font-size var(--size-s1)
    border-left .4em solid
    background #d6efff
    border-color #b8daff
    color #004085

    &.caution
        background #fff3cd
        border-color #ffdaa6
        color #856404

    &.warning
        background #ffe1e4
        border-color #f5c6cb
        color #721c24

    a
      text-decoration underline
