<footer class="footer">
    <div class="footer__inner">
        <div class="footer__copyright">
            Powered by Hexo, Theme Ikaho designed by pixelog<br>
            © <%= config.title %> <%= date(new Date(), 'YYYY') %>
        </div>
    </div>
</footer>
<script type="application/ld+json"><%- partial('ld+json') %></script>
