body
    background #f8f8fa
    background var(--background-color)
    overflow-y scroll
    font-family sans-serif

::selection
    background #b3d4fc
    color #444

a
    color var(--text-link-color)
    text-decoration none
