.container
    display grid
    grid-template-columns 850px 300px
    grid-gap 50px
    justify-content center
    +media(tabsp)
        grid-template-columns minmax(0, 850px)


.aside
    display grid
    align-self start
    grid-gap 60px
    +media(tabsp)
        padding 0 16px
