.container
    display flex
    margin auto
    justify-content space-between
    width pc-width
    +media(tab)
        width 96%
        flex-direction column
        max-width 840px
    +media(sp)
        width 100%
        flex-direction column

.main
    width 850px
    +media(tabsp)
        width 100%

.aside
    width 300px
    display flex
    flex-direction column

    +media(tabsp)
        width 100%
        margin 60px 0 0 0
        padding 0 16px

    +media(tab)
        flex-direction row
        flex-wrap wrap
        justify-content space-between


.widget__category
.widget__recent-posts
    +media(tab)
        width 47%

.widget__ad
    +media(pc)
        min-height 600px
    +media(tab)
        width 100%
    +media(sp)
        order 1
