.aside-list
    list-style none

    &-link
        display block
        padding .8em 0
        word-break break-all
        border-bottom 1px dotted var(--border-dark-color)

        &:hover
            color var(--text-hover-color)

        &.current
            background var(--bg-current-color)
            font-weight bold

    &-child
        list-style none

        & .aside-list-link
            padding-left 2.5em

        & .aside-list-child  .aside-list-link
            padding-left 5em


    &-count
        color var(--text-sub-color)
        font-weight normal
        float right

        &::before
            content "["
            padding-right .1em

        &::after
            content "]"
            padding-left .1em
