.footer
    max-width var(--width)
    margin auto
    padding 4em 0
    color var(--text-sub-color)

    &__link
        color var(--text-link-color)
        font-size var(--size-s3)

        &:hover
            text-decoration underline
