.footer
    padding 2em 5vw
    background var(--bg-color)

    &__inner
        max-width var(--width)
        margin auto
        color var(--text-sub-color)
        font-size var(--size-s3)

    &__link
        &:hover
            text-decoration underline
