.footer
    max-width var(--width)
    margin auto auto 3em

    &__inner
        color var(--text-sub-color)
        font-size var(--size-s3)

    &__link
        &:hover
            text-decoration underline
