.frame
    display grid
    max-width 1080px
    margin auto
    padding 5em 5vw
    grid-template-columns 1fr 300px
    gap 5em
    box-sizing content-box
    +media(tabsp)
        grid-template-columns 1fr
