.header
    padding 1em
    color #fff
    background url(/img/header.jpg) no-repeat center
    background-size cover

    &__logo // h1のデフォルトfont-sizeを上書きするため
        margin 4em 0
        font-size var(--size-l3)
        font-weight 600
        text-align center
