.nav
    max-width var(--width)
    margin auto

    &__list
        display flex
        flex-wrap wrap
        justify-content flex-end

    &__item
        display block
        margin 0 0 0 2em
        font-size var(--size-s1)

    &__link
        display block
