.nav
    display block
    padding 0 5vw
    line-height 44px
    background rgba(255, 255, 255, .1)
    backdrop-filter: blur(12px)

    &__list
        display flex
        max-width var(--width)
        margin auto
        flex-wrap wrap

    &__item
        display block
        margin 0 2em 0 0
        font-size var(--size-s3)
        color rgba(255, 255, 255, .85)

    &__link
        display block
