@charset "utf-8";

/* Variables
--------------------------------------------------------------------------------------------------------*/

pc-width = 1160px
sp-width = 767px


media(bpName)
    for name in bpName
        if name == 'sp'
            @media only screen and (max-width: sp-width)
                {block}
        if name == 'tabsp'
            @media only screen and (max-width: pc-width - 1px)
                {block}
        if name == 'tab'
            @media only screen and (min-width: sp-width + 1px) and (max-width: pc-width - 1px)
                {block}
        if name == 'pc'
            @media only screen and (min-width: pc-width)
                {block}


body
  font-family: Roboto-Light,-apple-system,BlinkMacSystemFont,'Hiragino Kaku Gothic ProN',YuGothic,'Yu Gothic','游ゴシック体','游ゴシック',Meiryo,sans-serif
  font-kerning: auto



/* partial
--------------------------------------------------------------------------------------------------------*/

// ベース
@import '_partial/base/ress'
@import '_partial/base/icomoon' // 更新したら絶対パスに置き換えること！
@import '_partial/base/agate'

@import '_partial/container'
@import '_partial/main'
@import '_partial/aside'
