<%
let arr = [];
site.posts.each(function(post){
  arr.push(post.date.format('YYYY年MM月'))
})

var listMonth = arr
  .sort().reverse()
  .filter(function(val, i, self){
	   return i === self.indexOf(val);
   });

let archives = [];
for(let i=0; i<listMonth.length; i++){
  archives[i] = {
    name: `${listMonth[i]} (${countPost(listMonth[i])})`,
    path: path(listMonth[i])
  }
}

function countPost(month){
  return arr.filter(function(x){return x=== month}).length;
}

function path(month){
  return url_for(`${config.archive_dir}/${month.slice(0,4)}/${month.slice(5,7)}/`);
}
%>

<h4 class="<%= block %>__title">月別</h4>
<select class="archive-list" onchange="location.href=this.value;">
  <option
    disabled
    <%if(!is_month()){%>selected<%}%>>
    月を選択
  </option>
  <% for(let i=0; i<archives.length; i++){ %>
    <option
      value="<%= archives[i].path %>"
      <% if(is_current(archives[i].path)){%>selected<%}%>>
      <%= archives[i].name %>
    </option>
  <%}%>
</select>
