<h4 class="<%= block %>__title">リンク</h4>
<ul class="aside-list">
  <li class="aside-list-item">
    <a class="aside-list-link" href="/about/">サイトについて</a>
  </li>
  <li class="aside-list-item">
    <a class="aside-list-link" href="/contact/">メールフォーム</a>
  </li>
  <li class="aside-list-item">
    <a class="aside-list-link" href="/atom.xml">RSS</a>
  </li>
</ul>
