.header
  margin: 0 0 80px 0
  background: #000
  box-shadow: 0 1px 2px #f9f9f9
  position: relative
  display: none

  +media(sp)
    margin: 0 0 24px 0

  &__inner
    display: flex
    width: pc-width
    margin: auto
    padding: 16px 0
    line-height: 40px
    +media(tabsp)
      width: 96%
    +media(sp)
      padding: 2px 0



#particles-js
  canvas
    position: absolute
    top: 0
    left: 0
    z-index: 1
