.post-footer
  margin: 64px 0


.social-btn
  display: flex
  list-style: none
  justify-content: center;

  &__item
    margin: 0 12px

  &__link
    width: 48px
    height: 48px
    text-align: center
    color: #fff
    line-height: 42px
    text-decoration: none
    border-radius: 50%
    display: block
    position: relative

    &::before
      background: inherit
      content: " "
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      opacity: 0.75
      border-radius: 50%
      -webkit-transition: none
      transition: none

    &:hover
      color: #fff

      &::before
        opacity: 0
        -webkit-transform: scale(1.35)
        transform: scale(1.35)
        -webkit-transition: all 0.5s linear
        transition: all 0.5s linear

    &.twitter
        background: #4cc4f2

    &.facebook
        background: #3b5998

    &.tumblr
        background: #32506d

    &.hatena
        background: #00a5de

    &.pocket
        background: #ef3f56

    &.feedly
        background: #6cc655

  & i
    font-size: 18px
    position: relative
    top: 4px
    z-index: 3

    &::before
      color: #fff
