.post-header
  &__title
    font-size: 26px
    +media(sp)
      font-size: 20px

  &__meta
    display: flex
    margin: 24px 0
    font-size: 14px
    color: #888

  &__published
  &__modified
  &__category
    margin: 0 16px 0 0

  &__thumbnail-img
    max-width: 100%
