.related-posts-wrapper
  margin: 64px 0

  &__title
    text-align: center

    &::after
      content: ""
      display: block
      margin: 16px auto
      width: 24px
      height: 2px
      background: #ddd


.related-posts
  padding: 12px 0

  &__item
    height: auto
    box-shadow: 0 0 8px 2px #eee

  &__thumbnail
    img
      width: 100%
      height: auto

  &__title
    font-size: 13px
    margin: .8em

    a
      text-decoration: none
      color: #444

  &__date
    margin: .8em
    font-size: 12px
    color: #aaa


.swiper-button-next
.swiper-container-rtl .swiper-button-prev
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2027%2044%22%3E%3Cpath%20d%3D%22M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E')

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2027%2044%22%3E%3Cpath%20d%3D%22M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E')
