<section>
  <h2>最近の投稿</h2>
  <%- partial('_partial/post-list') %>
</section>
<section>
  <h2>リンク</h2>
  <dl>
    <dt>
      <a href="/about/">サイトについて</a>
    </dt>
    <dd>
      プロフィール、サイトの構成、プライバシーポリシーなど
    </dd>
    <dt>
      <a href="/atom.xml">RSS</a>
    </dt>
    <dd>
      ブログの更新情報をRSSで配信しています。
    </dd>
    <dt>
      <a href="/contact/">メールフォーム</a>
    </dt>
    <dd>
      当サイトに関してご不明点などがありましたら、メールフォームよりご連絡ください。（Twitter等のSNSアカウントは所持しておりません。）
    </dd>
  </dl>
</section>
