.content
    text-align justify
    word-break break-all

    a
      color var(--text-link-color)


    ul
    ol
        margin var(--space)
        padding-left 1.25em

    li
        margin var(--space-s)
