.index
    &__list
        display grid
        margin var(--space)
        gap 1.5em

    &__item
        display flex
        align-items center
        line-height 1.5

    &__link
        word-break break-all

    &__date
        margin 0 1.5em 0 0
        flex-shrink 0
        color var(--text-sub-color)
        font-size var(--size-s2)
