.post
    &__date
        display flex
        margin 0 0 .5em 0
        color var(--text-sub-color)
        font-size var(--size-s2)

    &__updated
        margin 0 0 0 1em


    &__footer
        margin-top 3.5em

    &__ad
        margin-top 3.5em
