.post-list
    display grid
    margin var(--space)
    gap 3em

    &__item
        display block


    &__link
        display inline-block
        word-break break-all


    &__date
        display block
        color var(--text-sub-color)
        font-size var(--size-s2)
