.frame
    display grid
    gap 5em
    grid-template-columns 1fr 280px
    max-width 65em
    margin auto
    padding 3em 6vw 3em 6vw
    box-sizing content-box
    +media(tabsp)
        grid-template-columns 1fr
