.header
    display flex
    width 100%
    padding 1.25em
    justify-content space-between
    align-items center

    &__link
        display inline-block

    &__logo // h1のデフォルトfont-sizeを上書きするため
        font-size 16px
        fill var(--theme-color)
