.header
    display flex
    width 100%
    padding 1em 1.25em
    justify-content space-between
    align-items center
    background rgba(255, 255, 255, .9)
    backdrop-filter blur(36px)
    transition .2s boxshadow  ease
    position fixed
    top 0
    left 0
    z-index 2

    &__link
        display inline-block

    &__logo // h1のデフォルトfont-sizeを上書きするため
        font-size var(--size-n)
        font-weight bold
