.header
    display flex
    width 100%
    padding 1.5em
    justify-content space-between
    align-items center

    &__link
        display inline-block
        margin 0 1em

    &__logo // h1のデフォルトfont-sizeを上書きするため
        font-size 16px
        fill var(--theme-color)

    svg
        display block