.post-category
    margin 0 0 0 1em
    color var(--text-sub-color)

    &__item
        display inline-block
        
        &:not(:last-child)::after
            content ">"
            margin 0 .5em
            font-family Consolas, monospace


    &__link
        &:hover
            text-decoration underline
