<%
var path = page.path.replace(/category\//, '').replace(/\/index.html/, '');
var categories = path.split('/');
%>

<nav class="breadcrumb">
    <ol class="breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb__item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            <a class="breadcrumb__item-link" itemprop="item" href="https://pixelog.net/">
                <span itemprop="name">トップ</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        <% var dir_name = ''; %>
        <% categories.forEach(function(item, i){ %>
            <% i += 2; %>
            <% dir_name += '/' + item; %>
            <li class="breadcrumb__item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a class="breadcrumb__item-link" itemprop="item" href="https://pixelog.net/category<%= dir_name %>">
                    <span itemprop="name"><%= item %></span>
                </a>
                <meta itemprop="position" content="<%= i %>" />
            </li>
        <% }) %>
    </ol>
</nav>


<%- partial('_partial/post-list') %>
