$aside-list
    list-style none

    &-link
        display block
        padding .8em 0
        word-break break-all
        border-bottom 1px dotted var(--border-dark-color)

        &:hover
            color var(--text-hover-color)


.category-list
    @extend $aside-list

    &-link
        &.current
            background var(--bg-current-color)
            font-weight bold

    &-child
        list-style none

        & .category-list-link
            padding-left 2.5em

        & .category-list-child  .category-list-link
            padding-left 5em


    &-count
        color var(--text-sub-color)
        font-weight normal
        float right


.recent-posts-list
    @extend $aside-list
