.frame
    display grid
    grid-template-columns 1fr 240px
    gap 5em
    max-width 1000px
    margin 4em auto
    +media(tabsp)
        margin 0
        padding 3em 5vw
        grid-template-columns 1fr
