.frame
    display grid
    grid-template-columns 1fr 240px
    gap 3.5em
    max-width 1120px
    margin 4em auto
    padding 3.5em 4.5em
    background var(--bg-sub-color)
    box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.003),0 6.7px 5.3px rgba(0, 0, 0, 0.004),0 12.5px 10px rgba(0, 0, 0, 0.005),0 22.3px 17.9px rgba(0, 0, 0, 0.006),0 41.8px 33.4px rgba(0, 0, 0, 0.007),0 100px 80px rgba(0, 0, 0, 0.01)
    +media(tabsp)
        margin 0
        padding 3.5em 5vw
        grid-template-columns 1fr
