.frame
    display grid
    grid-template-columns 1fr 300px
    gap 4em
    max-width 1060px
    margin 3em auto
    +media(tabsp)
        margin 0
        padding 3em 5vw
        grid-template-columns 1fr
