.header
    grid-column 1/-1

    &__logo // h1のデフォルトfont-sizeを上書きするため
        font-size var(--size-l2)
        font-weight bold

    &__desc
        margin .5em 0 0 0
        font-size var(--size-s1)
        color var(--text-sub-color)
