.nav
    margin 2.5em 0 0 0
    font-size var(--size-s2)
    border-top 1px solid var(--border-color)
    border-bottom 1px solid var(--border-color)

    &__list
        display flex
        flex-wrap wrap

    &__item
        display block
        margin 0 2.5em 0 0
        line-height 44px

    &__link
        display block
