.nav

    &__list
        display flex
        flex-wrap wrap

    &__item
        display block
        margin 0 0 0 2em

    &__link
        display block
        text-decoration underline
        transition .15s ease color

        &:hover
            color var(--text-hover-color)
