.post-list
    &__item
        display block
        padding 2.5em 0
        border-bottom 1px dotted var(--border-dark-color)
        &:first-child
            padding-top 0


    &__link
        display block

        &:hover
            .post-list__title
                text-decoration underline
                color var(--text-hover-color)


    &__date
        display block
        margin 0 0 .5em 0
        color var(--text-sub-color)
        font-size var(--size-s2)


    &__title
        margin 0 0 .75em 0
        font-size var(--size-l1)
        word-break break-all
        transition .15s ease color

    &__desc
        margin 1.75em 0 0 0
        color var(--text-sub-color)
        font-size var(--size-s1)
        text-align justify
        word-break break-all
