.post-meta
    display flex
    margin .75em 0
    color var(--text-sub-color)
    font-size var(--size-s1)

    &__label
      margin 0 .5em 0 0

    &__list
        display flex
        list-style none

    &__item
        &.category
            &:not(:last-child)::after
                content ">"
                margin 0 .5em
                font-family Consolas,monospace
        &.tag
            &:not(:last-child)::after
                content ","
                margin 0 .5em 0 0
                font-family Consolas,monospace


    &__link
        color var(--text-link-color)
        &:hover
            text-decoration underline
