<%
let arr = [];
site.posts.each(function(post){
  arr.push(post.date.format('YYYY年MM月'))
})

var listMonth = arr
  .sort().reverse()
  .filter(function(val, i, self){
	   return i === self.indexOf(val);
   });

let archives = [];
for(i=0; i<listMonth.length; i++){
  archives[i] = {
    name: `${listMonth[i]} (${countPost(listMonth[i])})`,
    path: path(listMonth[i]),
    current: checkCurrent(listMonth[i])
  }
}

function countPost(month){
  return arr.filter(function(x){return x=== month}).length;
}

function path(month){
  return `/${config.archive_dir}/${month.slice(0,4)}/${month.slice(5,7)}/`;
}

function checkCurrent(month){
  if(page.month){
    const current = `${page.year}年${page.month.toString().padStart(2, '0')}月`;
    if(current === month){
      return true;
    }
  }
}
%>

<h4 class="<%= block %>__title">Archive</h4>
<select class="archive-list" onchange="location.href=this.value;">
  <option disabled <%if(!page.month){%>selected<%}%>>
      月を選択
  </option>
  <% for(i=0; i<archives.length; i++){ %>
    <option value="<%= archives[i].path %>"
      <% if(archives[i].current === true){%>selected<%}%>>
        <%= archives[i].name %>
    </option>
  <%}%>
</select>
