<h4 class="<%= block %>__title">Category</h4>
<ul class="category-list">
    <%
    // https://github.com/hexojs/hexo/issues/3588
    function displayCategories(parent = undefined) {
        site.categories
            .find({ parent }) // warehouse allows us complex queries
            .sort("name") // sort
            .each(function(category) {
                // count the child categories
                const childCount = site.categories.find({ parent: category._id }).count();
                %>
                <li class="category-list-item">
                    <a
                      class="category-list-link
                      <% if(is_category(category.name)) { %>current<% } %>"
                      href="<%=url_for(category.path)%>">
                      <%= category.name %>
                      <span class="category-list-count">
                          <%= category.length %>
                      </span>
                    </a>
                    <% if (childCount > 0) { %>
                        <ul class="category-list-child">
                            <% displayCategories(category._id); %>
                        </ul>
                    <% } %>
                </li>
            <%
            });
    }
    displayCategories();
    %>
</ul>
