<h4 class="<%= block %>__title">Tag</h4>
<%- list_tags() %>

<!--
.tag-list
    display flex
    margin -.5em 0 0 -.5em
    flex-wrap wrap

    &-item
        display block
        margin 0 0 .5em .5em
        padding .25em
        flex 1 1 auto
        border 1px solid var(--border-color)
        font-size 15px

    &-count
        float right
-->
