body
    max-width 38em
    margin 4em auto
    padding 0 5vw
    color var(--text-color)
    background AliceBlue
    font-size var(--size)
    font-size clamp(100%, calc((100vw - 640px) * 0.004 + 100%),112.5%)
    font-family sans-serif
    box-sizing content-box

a
    color var(--text-color)

p
    margin var(--space)
    line-height 1.8

img
    max-width 100%
    vertical-align middle

blockquote
    margin var(--space)
    padding 0 1.272em
    color var(--text-sub-color)
    font-size var(--size-s1)
    border-left .25em solid var(--border-color)

li>ul
    margin 0!important

code
pre
    font-family consolas, Menlo, monospace

code:not(.hljs)
    margin 0 .5em
    padding 3px 10px
    background var(--bg-color)
    font-size var(--size-s1)
    border-radius: 3px


select
    padding .25em .75rem
    color var(--text-color)
    background var(--bg-sub-color)
    border 1px solid var(--border-dark-color)
    border-radius .25em
    -moz-appearance menulist-button
    -webkit-appearance menulist-button
    appearance menulist-button

section
    margin 6em 0

h2
    margin 0 0 1em 0

dd
    margin 0 0 0 2em
    line-height 1.8

dt
    margin 1em 0 0 0
