:root
  --theme-color #5aa096

  --bg-color #f2f2f2

  --text-color #444
  --text-link-color #2470eb
  --text-hover-color var(--theme-color)
  --text-sub-color #717171

  --border-color #e3e3e3
  --border-dark-color #ced4da

  --space-s .75em 0
  --space 1.75em 0

  --num 8
  --size-l3 calc(var(--num) * 1em / (var(--num) - 3)) // 1.6
  --size-l2 calc(var(--num) * 1em / (var(--num) - 2)) // 1.333
  --size-l1 calc(var(--num) * 1em / (var(--num) - 1)) // 1.142
  --size-s1 calc(var(--num) * 1em / (var(--num) + 1)) // .888
  --size-s2 calc(var(--num) * 1em / (var(--num) + 2)) // .8
  --size-s3 calc(var(--num) * 1em / (var(--num) + 3)) // .727
