.widget
    &__title
        margin 0 0 24px 0
        line-height 3
        background #555b6e
        color #fff
        text-align center
        border-radius 4px
        letter-spacing 0.15em
        box-shadow 0 1px 3px -1px #ccc
        user-select none
        position relative

        &::after
            content ""
            display block
            border 10px solid transparent
            border-top 10px solid #555b6e
            position absolute
            left calc(50% - 10px)
            bottom -20px


    &__ad
        margin 0 0 60px 0
        background #f2f2f2

    &__category
        margin 0 0 60px 0


.category-list
.recent-posts-list
    margin 0 6px
    list-style none
    font-size 15px


.category-list
    &-child
        @extend .category-list
        margin 0 0 0 1em
        padding 0 0 0 1em
        border-left 1px solid #dbdbdb

    &-item
        line-height 2.5

    &-link
        display inline-block
        width calc(100% - 42px)
        text-decoration none
        color #333
        border-radius 2px
        transition .1s all ease-in-out

        &:hover
            color #000
            background #eee

    &-count
        display inline-block
        float right
        color #888

        &::before
            content "("
        &::after
            content ")"


.recent-posts-list
    &-item
        margin 0 0 1em 0

    &-link
        display block
        color #333
        text-decoration none
        border-radius 2px
        transition .1s all ease-in-out

        &:hover
            color #000
            background #eee
