.content
    font-size 16px
    line-height 1.9
    letter-spacing .01em
    color #333
    +media(sp)
        font-size 16px
    +media(spm)
        font-size 15px

    a
      color #1a0dab

    p
      margin 1.5em 0

    img
      max-width 100%
      +media(sp)
          max-width calc(100% + 32px)
          margin-left -16px


    h2
      margin 2.5em 0 1.2em 0
      color #333
      border-bottom 1px solid #bbb
      line-height 2
      font-size 24px
      +media(sp)
          font-size 21px

    h3
      font-size 19px
      margin 2.5em 0 1.2em 0
      color #333
      +media(sp)
          font-size 18px

    ul
    ol
      margin 0 0 0 24px

    li
      margin 1.5em 0


    table
      width 100%
      margin 40px 0

    thead

    th
      padding 6px
      text-align center
      background theme-color
      color #fff

    td
      padding 10px
      background rgba(72,169,166,.059) /* #48a9a60f */

      &:first-child
        background rgba(72, 169, 166, 0.18)

    .vertical-img
        max-width 400px

code
    margin .5em
    padding 3px
    background #f2f2f2
    box-shadow 1px 1px 1px 0 #ddd

pre
    position relative

.hljs
    margin 8px 0
    padding 56px 2em 2em 2em
    font-size .8em
    font-family Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace
    line-height 1.5

    &::before
        display block
        width 100%
        line-height 36px
        padding 0 16px
        background #585858
        box-shadow 0 2px 0 0 #111
        position absolute
        top 0
        left 0
        font-size 18px

    &.css::before
        content "CSS"
        color #5bc1ff

    &.html::before
        content "HTML"
        color #ff530d

    &.javascript::before
        content "JavaScript"
        color #f8d43c

    &.stylus::before
        content "Stylus"
        color #b5d202

    &.bash::before
        content "Bash"
        color #f2f2f2

    &.yml::before
        content "yml"

    &.ejs::before
        content "ejs"
        color #f2f2f2

    &.plaintext
        padding 2em

    &::-webkit-scrollbar
        height 8px

    &::-webkit-scrollbar-thumb
        background #aaa

    &::-webkit-scrollbar-thumb:active
        background:#777


.center
    text-align center

.marker
    background linear-gradient(transparent 40%, #66FFCC 40%)



.btn
    display inline-block
    background #3F51B5
    color #fff
    text-decoration none
    padding 10px 20px
    box-sizing border-box
    line-height 30px
    border-radius 3px
    box-shadow 1px 1px 3px #aaa
    margin 10px 0

    &:hover
        opacity 1
        color #fff

    &:active
        background #5C6BC0


.red-box
    border 1px solid #f44336
    margin 20px 0
    padding 16px
    color #f44336
    font-size 14px
    border-radius 4px


.gray-box
    margin 1em 0
    padding 12px
    background #f5f5f5
    border-radius 2px
    overflow-wrap break-word



blockquote
    position relative
    margin 0
    padding 30px
    border 0
    font-size .9em
    background #f1f1f1
    border-radius 2px
    z-index 2


    &:before
    &:after
      	position absolute
      	font-size 1000%
      	color #d3d3d3
      	font-family 'TImes NEw ROman',"ＭＳ Ｐゴシック",sans-serif
      	z-index -1


    &:before
      	content "“"
      	line-height 0.8em
      	top 10px
      	left 10px

    &:after
      	content "”"
      	line-height 0em
      	right 10px
      	bottom 5px

hr
    margin 50px auto
    border none
    border-top 1px solid #ddd
    width 200px

.shake
    display inline-block
    animation shake .2s infinite

.youtube
    position relative
    padding-bottom 56.25%
    height 0
    overflow hidden

.youtube iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.ad
    margin 60px 0 0 0
    background #eee


@keyframes shake
    0%
        transform translate(0px, 0px) rotateZ(0deg)
    25%
        transform translate(2px, 2px) rotateZ(1deg)
    50%
        transform translate(0px, 2px) rotateZ(0deg)
    75%
        transform translate(2px, 0px) rotateZ(-1deg)
    100%
        transform translate(0px, 0px) rotateZ(0deg)
