.content img
    cursor zoom-in

#backfilter
    display flex
    justify-content center
    align-items center
    width 100%
    height 100%
    background rgba(0, 0, 0, .85)
    position fixed
    top 0
    left: 0
    z-index 10
    animation .2s fade ease
    animation-fill-mode both
    cursor pointer

    &::before
    &::after
        content ""
        dispaly block
        width 24px
        height 3px
        background #eee
        border-radius 4px
        position fixed
        top 24px
        right 12px


    &::before
        transform rotate(45deg)

    &::after
        transform rotate(-45deg)


    &.fadeout
        animation .2s fadeout ease
        animation-fill-mode both

#viewer
    display block
    max-width 100%
    max-height 100%


@keyframes fade
    from
        opacity 0
    to
        opacity 1

@keyframes fadeout
    from
        opacity 1
    to
        opacity 0
