p > img {
  cursor: zoom-in;
  vertical-align: middle;
}
#pixel-viewer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  animation: fadein 0.2s ease-out both;
  cursor: pointer;
  user-select: none;
}
#pixel-viewer.fadeout {
  animation: fadeout 0.2s ease-out both;
  pointer-events: none /* ← IE救済措置（IEでこれがないと画像を閉じた後にページ全体がクリックできなくなりますｗ）*/;
}
#pixel-viewer.fadeout #pixel-viewer__img {
  animation: scaledown 0.2s ease-out both;
}
#pixel-viewer__alt {
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding: 0 48px 0 12px;
  background: rgba(0,0,0,0.95);
  color: #eee;
  font-size: 14px;
  text-overflow: ellipsis /* スマホなどでaltが横幅をはみ出たときに省略します */;
  white-space: nowrap;
  overflow: hidden;
}
#pixel-viewer__alt::before,
#pixel-viewer__alt::after {
  content: "";
  dispaly: block;
  width: 24px;
  height: 3px;
  background: #eee;
  border-radius: 4px;
  position: fixed;
  top: 20px;
  right: 12px;
  z-index: 12;
}
#pixel-viewer__alt::before {
  transform: rotate(45deg);
}
#pixel-viewer__alt::after {
  transform: rotate(-45deg);
}
#pixel-viewer__img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: calc(100% - 44px);
  animation: scaleup 0.2s ease-out both;
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes scaleup {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes scaleup {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes scaleup {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleup {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes scaledown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
@-webkit-keyframes scaledown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
@-o-keyframes scaledown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
@keyframes scaledown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
