// Android one S2 → 398px
// iPhone5C → 338px

pc-width = 1200px
tab-width = 1199px
sp-width = 767px
spm-width = 397px

boxshadow = 0 4px 10px rgba(0,0,0,0.04), 0 0 1px rgba(0,0,0,0.1)


media(bpName)
    for name in bpName
        if name == 'spm'
            @media (max-width: spm-width)
                {block}
        if name == 'sp'
            @media (max-width: sp-width)
                {block}
        if name == 'tabsp'
            @media (max-width: tab-width)
                {block}
        if name == 'tab'
            @media (min-width: sp-width + 1px) and (max-width: tab-width)
                {block}
        if name == 'pcm'
            @media (min-width: tab-width + 1px) and (min-width: pc-width -1px)
                {block}
        if name == 'pc'
            @media (min-width: pc-width)
                {block}


:root
    --theme-color linear-gradient(90deg, rgb(63, 191, 187), rgb(63, 171, 191))
    --theme-color #3fb5bd

    --background-color #f8f8fa
    --background-sub-color #fff
    --background-hover-color #fbfbfb
    --background-current-color #eaeaea

    --text-color #444
    --text-link-color #444
    --text-link-default-color #1a0dab
    --text-hover-color #777
    --text-sub-color #888
    --text-accent-color #3fb5bd
    --text-disabled-color #eee

    --border-color #ddd
    --border-dotted-color #bbb



[data-mode='dark']
    --theme-color #333

    --background-color #141517
    --background-sub-color #2b2b2b
    --background-hover-color #3a3a3a
    --background-current-color #3a3a3a

    --text-color #d9d9d9
    --text-link-color #d9d9d9
    --text-link-default-color #8ab4f8
    --text-hover-color #aaa
    --text-sub-color #9AA0A6
    --text-accent-color #8ab4f8
    --text-disabled-color #444

    --border-color #555
    --border-dotted-color #bbb

    img
        filter: grayscale(20%)
