pc-width = 1200px
sp-width = 767px


:root
    --theme-color #2a83a2

    --bg-color #f8f8fa
    --bg-sub-color #fff
    --bg-hover-color #fbfbfb
    --bg-current-color #eaeaea

    --text-color #444
    --text-link-color #3884FF
    --text-hover-color #777
    --text-sub-color #767676
    --text-accent-color var(--theme-color)
    --text-disabled-color #eee

    --border-color #e3e3e3
    --border-dotted-color #bbb

    --container-shadow 0 4px 10px rgba(0,0,0,0.04), 0 0 1px rgba(0,0,0,0.1)



[data-mode='dark']
    --theme-color var(--bg-sub-color)

    --bg-color #202124
    --bg-sub-color #28292c
    --bg-hover-color #2d2d2d
    --bg-current-color #3a3a3a

    --text-color #d9d9d9
    --text-link-color var(--text-accent-color)
    --text-hover-color #aaa
    --text-sub-color #9AA0A6
    --text-accent-color #8ab4f8
    --text-disabled-color #444

    --border-color #444
    --border-dotted-color #777

    --container-shadow 0 1px 2px 0 rgba(0, 0, 0, .60), 0 1px 3px 1px rgba(0, 0, 0, .30)

    img
        filter: grayscale(20%)
