body
    color var(--text-color)
    font-family sans-serif

a
    color var(--text-color)
    text-decoration none

p
    margin var(--space)

img
    max-width 100%
    vertical-align middle

blockquote
    margin var(--space)
    padding 0 1.272em
    color var(--text-sub-color)
    font-size var(--size-s1)
    border-left .25em solid var(--border-color)

li>ul
    margin 0!important

code
pre
    font-family consolas, Menlo, monospace

code:not(.hljs)
    margin 0 .5em
    padding 3px 10px
    background var(--bg-color)
    font-size var(--size-s1)
    border-radius: 3px


select
    padding .25em .75rem
    color var(--text-color)
    background var(--bg-sub-color)
    border 1px solid var(--border-dark-color)
    border-radius .25em
    -moz-appearance menulist-button
    -webkit-appearance menulist-button
    appearance menulist-button

dt
    margin .75em 0 0 0
    font-weight bold

dt:first-child
    margin-top 0

dd
    margin 0 0 0 2em
