pc-width = 1060px
sp-width = 767px


media(bpName)
    for name in bpName
        if name == 'sp'
            @media (max-width: sp-width)
                {block}
        if name == 'tabsp'
            @media (max-width: pc-width - 1px)
                {block}
        if name == 'pc'
            @media (min-width: pc-width)
                {block}
