#console {
    min-height: 350px;
    padding: 4px 24px;
    background: #333;
    color: rgba(0, 255, 0, 0.9);
    font-family: Consolas,"Courier New",Courier,Monaco,monospace;
}

#console p {
  margin: 1em 0;
}
