.aside
    display grid
    align-self start
    gap 80px
    font-size 15px
    +media(tabsp)
        padding 0 6vw
        grid-template-columns repeat(auto-fit, minmax(224px, 1fr))


    &__title
        display block
        font-size 1.1em
        text-align center
        letter-spacing .1em
        text-transform uppercase
        color var(--text-sub-color)

        &::after
            content ""
            display block
            width 30px
            height 3px
            margin 20px auto
            background var(--border-color)
            border-radius 3px
