.widget
    &__title
        margin 0 0 24px 0
        line-height 50px
        background var(--background-dark-color)
        color #fff
        text-align center
        border-radius 4px
        font-size 18px
        letter-spacing 0.1em
        box-shadow 0 2px 10px rgba(0,0,0,.05), 0 0 1px rgba(0,0,0,.1)
        position relative

        &::after
            content ""
            display block
            border 10px solid transparent
            border-top 10px solid var(--background-dark-color)
            position absolute
            left calc(50% - 10px)
            bottom -20px


    &__ad
        margin 0 0 60px 0

    &__category
        margin 0 0 60px 0


.category-list
.recent-posts-list
    margin 0 6px
    list-style none
    font-size 15px


.category-list
    &-child
        margin 0 0 0 1em
        padding 0 0 0 1em
        border-left 1px solid var(--border-color)
        list-style none

        & > .category-list-item
            &::before
                content ""
                display block
                position absolute
                width 7px
                height 7px
                background var(--border-color)
                border-radius 50%
                top 15px
                left -19px

    &-item
        position relative
        line-height 37px


    &-link
        display inline-block
        width calc(100% - 42px)
        text-decoration none
        color var(--text-link-color)
        border-radius 2px
        transition .1s opacity ease-in-out

        &:hover
            opacity: .6

    &-count
        display inline-block
        float right
        color var(--text-sub-color)

        &::before
            content "("
        &::after
            content ")"


.recent-posts-list
    &-item
        margin 0 0 1.2em 0

    &-link
        display block
        color var(--text-link-color)
        text-decoration none
        border-radius 2px
        transition .1s opacity ease-in-out

        &:hover
            opacity: .6
