.breadcrumbs
    margin 0 0 16px 0
    background var(--background-sub-color)
    box-shadow boxshadow
    border-radius 4px

    &__list
        display flex
        overflow-x auto
        overflow-y hidden
        line-height 56px
        font-size 14px
        background var(--border-color)

    &__item-link
        display block
        margin 0 23px 0 0
        padding 0 16px 0 8px
        text-decoration underline
        background var(--background-sub-color)

        &::before
        &::after
            content ""
            display block
            width 0
            height 0
            border solid
            border-width 28px 11px
            position absolute
            top 0

        &::before
            border-color var(--background-sub-color)
            border-left-color transparent
            left -22px
            z-index 2

        &::after
            border-color transparent
            border-left-color var(--background-sub-color)
            right 1px
            z-index 1

        &:hover
            background var(--background-hover-color)
            &::before
                border-color var(--background-hover-color)
                border-left-color transparent
            &::after
                border-left-color var(--background-hover-color)

    &__item
        display block
        flex-shrink 0
        position relative

        &:first-of-type
            .breadcrumbs__item-link
                padding-left 16px

                &::before
                    border 0

        &:last-of-type
            width 100%
            min-width 10em
            flex-shrink 1

            .breadcrumbs__item-link
                margin 0
                color var(--text-accent-color)
                font-weight bold
                text-decoration none
                pointer-events none
                overflow hidden
                white-space nowrap
                text-overflow ellipsis

                &::after
                    border 0
