.container
    display grid
    margin 80px 0
    grid-template-columns 844px 300px
    gap 56px
    justify-content center
    +media(tabsp)
        margin-top 16px
        grid-template-columns minmax(0, 850px)
        gap 80px
