.container
    display grid
    margin 80px 0
    grid-template-columns 844px 300px
    gap 56px
    justify-content center
    +media(tabsp)
        margin var(--space-rich) 0 56px 0
        grid-template-columns minmax(0, 850px)
