.footer
    margin 60px 0 0 0
    background #3fb5bd
    background var(--theme-color)
    color #fff
    font-size 14px
    text-align center
    box-shadow 0 0 20px 0 rgba(0,0,0,.05)
    +media(tabsp)
        margin 0

    &__inner
        width pc-width
        margin auto
        padding 24px 0
        +media(tabsp)
            width 94%


.footer-menu
    display flex
    width 100%
    list-style none
    justify-content center

    &__item
        margin 0 1em

        &-link
            text-decoration none
            color #f2f2f2


.copyright
    margin 1em 0 0 0
