.footer
    padding 24px 0
    background var(--theme-color)
    color #f2f2f2
    font-size 14px
    text-align center
    box-shadow var(--container-shadow)

    &__copyright
        font-size 12.6px
