.footer
    margin 60px 0 0 0
    background #3fb5bd
    background var(--theme-color)
    color #f2f2f2
    font-size 14px
    text-align center
    box-shadow 0 0 20px 0 rgba(0,0,0,.05)

    &__inner
        width pc-width
        margin auto
        padding 24px 0
        +media(tabsp)
            width 94%
