.header
    background var(--theme-color)
    box-shadow var(--header-shadow)
    +media(sp)
        font-size 12px

    &__logo // h1のデフォルトfont-sizeを上書きするため
        font-size 1.5em

    &__svg
        margin auto

    &__link
        display block
        padding 3em 0
