.header
    background var(--theme-color)
    box-shadow var(--header-shadow)

    &__logo // h1のデフォルトfont-sizeを上書きするため
        font-size 16px


    &__svg
        margin auto
        color #fff

    &__link
        display block
        padding 28px 0
