.header
    margin 0 0 60px 0
    background #3fb5bd
    background var(--theme-color)
    box-shadow 0 0 20px 0 rgba(0,0,0,.05)
    +media(tab)
        margin 0 0 32px 0
    +media(sp)
        margin 0 0 16px 0

    &__inner
        display flex
        width pc-width
        margin auto
        padding 26px 0
        justify-content space-between
        align-items center
        +media(tabsp)
            width 100%
            padding 26px 24px
        +media(sp)
            padding 32px 0
            flex-direction column


    &__logo-link
        display block

    &__svg
        display block



.switch
    display flex
    +media(sp)
        margin 42px 0 0 0

    &__name
        margin 0 16px 0 0
        font-size 13px
        color #fff

    &__label
        display block
        width 50px
        height 20px
        background #ccc
        border-radius 46px
        transition .2s background ease-in-out
        cursor pointer

        &::after
            content ''
            display block
            width 20px
            height 20px
            border-radius 50%
            background #fff
            box-shadow 0 0 5px rgba(0, 0, 0, 0.2)
            transition .2s margin ease-in-out

    &__input
        width 0
        opacity 0

        &:focus + .switch__label
            outline 1.5px solid #4d90fe

        &:checked
            & + .switch__label
                background var(--text-accent-color)

                &::after
                    margin-left calc(100% - 20px)
