.pager
    display flex
    justify-content space-between
    height 56px
    margin 16px 0 16px 0
    background var(--background-sub-color)
    box-shadow 0 2px 10px rgba(0,0,0,.05), 0 0 1px rgba(0,0,0,.1)
    border-radius 4px
    user-select none

    $pager__btn
        display block
        width 50%
        max-width 200px
        line-height 56px
        text-decoration none
        color var(--text-accent-color)
        font-size 17px
        font-weight bold
        text-align center
        transition .2s background ease
        +media(sp)
            font-size 16px

        &:hover
            background var(--background-hover-color)

        &::before
        &::after
            display inline-block
            font 17px "Consolas", monospace
            transition .2s transform ease

    $disabled
        pointer-events none
        color var(--text-disabled-color)
        font-weight normal


    &__prev
        @extend $pager__btn
        border-right 1px solid var(--border-color)

        &::before
            content "<"
            margin 0 3px 0 0

        &:hover::before
            transform translateX(-4px)

        &--disabled
            @extend $pager__btn
            @extend .pager__prev
            @extend $disabled

    &__next
        @extend $pager__btn
        border-left 1px solid var(--border-color)

        &::after
            content ">"
            margin 0 0 0 3px

        &:hover::after
            transform translateX(4px)

        &--disabled
            @extend $pager__btn
            @extend .pager__next
            @extend $disabled

    &__number
        display flex
        height 32px
        padding 0 16px
        color var(--text-color)
        justify-content center
        align-self center
        flex-shrink 0
        +media(sp)
            font-size 15px

    &__current
        padding 0 24px
        border 1px solid #bbb
        background var(--background-sub-color)
        color var(--text-color)
        border-radius 4px
        cursor pointer
        -moz-appearance menulist
        -webkit-appearance menulist

      &__total
            margin 0 0 0 12px
            align-self center
