.pager
    display flex
    margin 16px 0 0 0
    background var(--bg-sub-color)
    font-size 1.07em
    box-shadow var(--container-shadow)
    border-radius 4px
    justify-content space-between

    $pager__btn
        display block
        width 50%
        max-width 200px
        line-height 56px
        color var(--text-accent-color)
        font-weight bold
        text-align center
        transition .15s background ease

        &:hover
            background var(--bg-hover-color)

        &::before
        &::after
            display inline-block
            font 17px "Consolas", monospace
            transition .15s transform ease-out

        &.disabled
            pointer-events none
            color var(--text-disabled-color)
            font-weight normal


    &__prev
        @extend $pager__btn
        border-right 1px solid var(--border-color)

        &::before
            content "<"
            margin 0 3px 0 0

        &:hover::before
            transform translateX(-4px)


    &__next
        @extend $pager__btn
        border-left 1px solid var(--border-color)

        &::after
            content ">"
            margin 0 0 0 3px

        &:hover::after
            transform translateX(4px)


    &__number
        display flex
        padding 11px 16px
        color var(--text-color)
        flex-shrink 0

    &__current
        width 80px
        padding 0 0 0 16px
        border 1px solid var(--border-dotted-color)
        background url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23444' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .5rem center/8px 10px, var(--bg-sub-color)
        color var(--text-color)
        border-radius 4px
        cursor pointer
        transition .15s box-shadow ease-in-out

        &:focus
            border-color #80bdff
            outline 0
            box-shadow 0 0 0 0.2rem rgba(0,123,255,.25)


      &__total
            margin 0 0 0 12px
            align-self center

[data-mode='dark'] .pager__current
    background url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23d9d9d9' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .5rem center/8px 10px, var(--bg-sub-color)
