.post-header
    &__title
        margin 0 0 1.2em 0
        font-size 30px
        +media(sp)
            font-size 22px

        &-link
            display block

    &__meta
        margin 0 0 1em 0
        font-size 14px
        color var(--text-sub-color)

    &__thumbnail-img
        max-width 100%
        vertical-align middle
        border-radius 4px
