.post
    padding 50px
    background var(--bg-sub-color)
    color var(--text-color)
    box-shadow boxshadow
    border-radius 4px
    +media(sp)
      padding 32px 16px
      font-size 15px

    &__title
        margin 0 0 1.2em 0
        font-size 30px
        +media(sp)
            font-size 22px

    &__meta
        display flex
        margin 0 0 1em 0
        color var(--text-sub-color)
        align-items center

    &__date
        margin 0 1em 0 0
        font-size .9em


    &__thumbnail-img
        max-width 100%
        vertical-align middle
        border-radius 4px

    &__content
        text-align justify
        line-height 1.8
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale

        a
          color var(--text-link-color)
          text-decoration underline

        h2
          margin 2.5em 0 1.2em 0
          border-bottom 1px solid var(--border-color)
          font-size 1.5em

        h3
          font-size 1.1em
          margin 2.5em 0 1.2em 0

        ul
        ol
            margin 0 0 0 24px

        li
            margin 1em 0


    &__ad
        margin 60px 0 0 0
