.post-list
    +media(sp)
        font-size 13.5px


    &__inner
        background var(--bg-sub-color)
        box-shadow var(--container-shadow)
        border-radius 4px


    &__item
        list-style none
        &:not(:last-child)
            border-bottom 1px solid var(--border-color)

    &__link
        display flex
        padding 2.25em 1.5em
        transition .15s background ease
        align-items center

        &::after
            display block
            flex-shrink 0
            content ""
            width .75em
            height .75em
            margin 0 0 0 auto
            border-top .125em solid #bbb
            border-right .125em solid #bbb
            transform rotate(45deg)
            transition .15s transform, border ease

        &:hover
            background var(--bg-hover-color)

            &::after
                border-color #ef6461
                transform rotate(45deg) translate(.125em, -.125em)

    &__date
        flex-shrink 0
        margin 0 1.3em 0 0
        color var(--text-sub-color)
        font-size .875em


    &__title
        margin 0 .5em 0 0
        font-size 1.125em
        word-break break-all
