.post-tag
    margin 60px 0 0 0
    font-size .8em

    &__list
        display flex
        margin .5em 0 0 0
        flex-wrap wrap

    &__item
        display block
        margin 0 1em 1em 0

    &__link
        display block
        line-height 32px
        padding 0 1em
        background var(--bg-color)
        border-radius 4px

        &:hover
            background var(--bg-hover-color)
