.post
    padding 46px
    background var(--background-sub-color)
    box-shadow boxshadow
    border-radius 4px
    +media(sp)
      padding 32px 16px


.post-header
    &__title
        margin 0 0 1.2em 0
        font-size 32px
        +media(sp)
            font-size 24px

        +media(spm)
            font-size 22px

        &-link
            display block
            color var(--text-link-color)
            text-decoration none

    &__meta
        margin 0 0 1em 0
        font-size 14px
        color var(--text-sub-color)

    &__thumbnail-img
        max-width 100%


.post-footer
    margin 100px 0 0 0

    &__ad
        margin 60px 0 0 0




.social-btn
    display flex
    justify-content center
    list-style none
    +media(sp)
        flex-wrap wrap

    &__item
        width 60px
        @media only screen and (max-width: 408px)
            width 27%
            margin 0 0 24px 0

    $item-link
        display flex
        width 44px
        height 44px
        margin auto
        color #fff
        justify-content center
        border-radius 50%
        box-shadow 0 4px 5px rgba(0,0,0,.1), 0 0 1px rgba(0,0,0,.1)
        transition .1s opacity ease-in-out

        svg
            width 20px
            height 20px
            align-self center

        &:hover
            opacity .85

    &__item-link
        &--twitter
            @extend $item-link
            background #55acee
        &--facebook
            @extend $item-link
            background #1877f2
        &--tumblr
            @extend $item-link
            background #34465d
        &--hatebu
            @extend $item-link
            background #008fde
        &--pocket
            @extend $item-link
            background #ef3f56
        &--feedly
            @extend $item-link
            background #6cc655
