.search-form
    line-height 42px
    position relative

    &__input
        width 100%
        padding 0 36px 0 16px
        outline none
        color var(--text-color)
        font-size 14px
        background var(--bg-sub-color)
        transition .15s all ease-in-out
        border 1px solid var(--border-color)
        border-radius 30px

        &:focus
            border-color #80bdff
            box-shadow 0 0 0 0.2rem rgba(0,123,255,.25)


    &__btn
        padding 9px
        position absolute
        top 8px
        right 6px


.gg-search
    box-sizing border-box
    position relative
    display block
    transform scale(var(--ggs,.8))
    width 16px
    height 16px
    border 2px solid
    border-radius 100%
    margin-left -4px
    margin-top -4px
    color var(--text-sub-color)

.gg-search::after
    content ""
    display block
    box-sizing border-box
    position absolute
    border-radius 3px
    width 2px
    height 8px
    background currentColor
    transform rotate(-45deg)
    top 10px
    left 12px
