.switch
    display flex

    &__name
        margin 0 16px 0 0
        line-height 18px
        font-size 13px
        color #fff

    &__label
        display block
        width 42px
        height 18px
        background #cfcfcf
        border-radius 46px
        transition .15s background ease-out
        cursor pointer

        &::after
            content ''
            display block
            width 18px
            height 18px
            border-radius 50%
            background #fff
            box-shadow 0 1px 5px rgba(0, 0, 0, 0.25)
            transition .15s margin ease-out

    &__input
        width 0
        opacity 0

        &:focus + .switch__label
            box-shadow 0 0 0 0.2rem rgba(0,123,255,.25)

        &:checked
            & + .switch__label
                background var(--text-accent-color)

                &::after
                    margin-left calc(100% - 18px)
