.footer
    margin: 60px 0 0 0
    background: theme-color
    color: #fff
    line-height: 80px
    text-align: center
    box-shadow: 0 0 20px 0 rgba(0,0,0,.05)

    &__inner
        width: pc-width
        margin: auto
        display: flex
        +media(tabsp)
            width: 94%

.about
    color: #fff

.copyright
    margin: 0 0 0 auto
