.post-list
    background: #fff
    box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1);
    border-radius: 4px

    &__item
        border-bottom: 1px solid #ddd
        list-style: none

        &-link
            display: flex
            padding: 36px 24px
            color: #333
            text-decoration: none
            transition: .2s background ease-in-out

            &::after
                display: block
                flex-shrink: 0
                content: ""
                width: 12px
                height: 12px
                margin: 0 0 0 auto
                border-top: 2px solid #bbb
                border-right: 2px solid #bbb
                transform: rotate(45deg)
                transition: .2s transform, border ease-in-out
                align-self: center

            &:hover
                background: #f9f9f9

                &::after
                    border-color: theme-color-accent
                    transform: rotate(45deg) translateX(2px) translateY(-2px)

    &__date
        flex-shrink: 0
        margin: 0 24px 0 0
        color: #888
        font-size: 14px
        align-self: center
        +media(sp)
          font-size: 12px

    &__title
        font-size: 18px
        +media(sp)
            font-size: 16px

    &__meta
        margin: 12px 0 0 0
        font-size: 14px
        color: #888
        +media(sp)
            font-size: 12px

    &__divider
        margin: 0 1px 0 3px

        &:first-child
            display: none
