.aside
    display grid
    align-self start
    gap 80px
    font-size font-size-s1
    +media(tabsp)
        padding 0 6vw
        gap 56px
        grid-template-columns repeat(auto-fit, minmax(224px, 1fr))
