.container
    display grid
    padding 80px 0
    background var(--bg-color)
    grid-template-columns 844px 300px
    gap 56px
    justify-content center
    +media(tabsp)
        padding 16px 0 56px 0
        grid-template-columns minmax(0, 850px)
