.header
    background var(--bg-primary)

    &__logo // h1のデフォルトfont-sizeを上書きするため
        font-size clamp(16px, calc((100vw - 400px) * 0.01 + 100%), 24px)


    &__svg
        margin auto
        color #fff

    &__link
        display block
        padding 4em 0
