.post
    padding 56px clamp(24px, 5vw, 56px)
    background var(--bg-sub-color)
    box-shadow var(--container-shadow)
    font-size clamp(15px, calc((100vw - 767px) * 0.004 + 100%), 16px)
    border-radius 4px

    &__title
        margin 0 0 1.68em 0
        font-size 1.5em
        word-break break-all

    &__meta
        display flex
        margin 0 0 1.272em 0
        color var(--text-sub-color)
        font-size .9em

    &__updated
        margin 0 0 0 1em


    &__thumbnail-img
        max-width 100%
        vertical-align middle

    &__content
        line-height 1.8
        text-align justify
        word-break break-all
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale

        a
          color var(--text-link-color)
          &:hover
              text-decoration underline

        h2
          margin var(--space-large)
          border-bottom 1px solid var(--border-color)
          font-size 1.45em

        h3
          font-size 1.1em
          margin var(--space-large)

        ul
        ol
            padding-left 2em

        li
            margin var(--space-small)


        & > table
            width 100%
            margin var(--space-default)
            font-size 15px
            word-break break-all
            border-collapse collapse

            th
                padding 6px
                text-align center
                border 1px solid var(--border-color)
                background var(--bg-color)

            td
                padding 6px 12px
                border 1px solid var(--border-color)



    &__footer
        &::before
            display block
            content: "⁂"
            margin 2.618em 0
            text-align center

    &__ad
        margin-top 1.618em
