.widget
    &__title
        display block
        font-size 1.05em
        text-align center
        letter-spacing .1em
        text-transform uppercase
        color var(--text-sub-color)

        &::after
            content ""
            display block
            width 2em
            height .2em
            margin 1.272em auto
            background var(--border-color)
            border-radius 3px
