.post {
  background: #000;
  color: #fff;
}

.post__content {
  font-family: 'MS PGothic', sans-serif;
}


.marquee-anim {
  overflow: hidden;
}

.marquee-anim span {
  display: inline-block;
  padding-left: 100%;
  white-space: nowrap;
  animation: marquee linear infinite;
}

@keyframes marquee {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}


.rainbow-anim {
  animation: rainbow .4s steps(2) infinite;
}

@keyframes rainbow {
    0%   {color: #ff0000;}
    33%  {color: #00ff00;}
    66%  {color: #ffff00;}
}


.flash-anim {
  animation: flash .2s steps(1) infinite;
}

@keyframes flash {
    0%   {opacity:.5;}
    50%  {opacity: 1;}
}



.rotate-anim {
  display: inline-block;
  animation: rotate 2s steps(4) infinite;
}

@keyframes rotate {
    0%   {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}
